*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
}
body{
    width: 100svw;
    height: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
a{
    color: black;
    text-decoration: none;
}
.home-page,.container{
    width: 100%;
    height: 100svh;
    background: #f9fafa;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}
.home-page{
    background: none;
}
.head,.contact-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: calc(100% - 80px);
    height: 150px;
    background: #318BC5;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: inset 4px 4px 10px #2870a0c2;
}
.head{
    padding: 0 20px;
    justify-content: space-between; 
}
.heading{
    font-family: "Ribeye Marrow";
    font-size: 40px;
    color: #fff;
}
.homepage-main{
    box-shadow: inset 4px 4px 10px #e8e8e8;
}
.btns-holder{
    position: absolute;
    top: 50%;
    left: 65%;
    padding: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-50%);
}
.btns{
    margin: 0 10px;
    color: #fff;
    transition: all .5s ease-in;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.btns:hover{
    color: #318BC5;
    border-radius: 50%;
    background: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns i{
    font-size: 2em;
}
.shiv-img{
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.shiv{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.contact-bar{
    background: #D9D9D920;
    position: absolute;
    top: 150PX;
    /* border: 1px solid #000; */
    z-index: 0;
    box-shadow: inset 4px 4px 10px #e8e8e8;
}
.mobNum{
    font-size: 2rem;
}
.zmts-cont{
    width: fit-content;
    background: #FCE874;
    font-size: 2rem;
    /* border: 1px #000 solid; */
    padding: 10px;
    border-radius: 50px;
    transform: rotate(-10deg);
}
@keyframes blink {
    /* from{
        opacity: 0;
    }
    to{
        opacity: 1;
    } */

    0%{
        transform: rotate(-10deg);
    }50%{
        transform: rotate(10deg);
    }100%{
        transform: rotate(-10deg);
    }
}
.zmts{
    transform: rotate(10deg);
    animation: blink 1.5s linear infinite;
}
.address-bar2,.address-bar1{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}
.address-bar2{
    align-items: end;
}
.address2{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.homepage-main{
    height: calc(100% - 300px);
    width: calc(100% - 80px);
    position: absolute;
    bottom: 0;
    /* border: 1px #000 dashed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(-45deg,#0a58ea76,#ffffffad,#f2fcb35d,#e8b6ff51);
}
.texts1,.texts2{
    width: 50%;
    height: 100%;
    /* border: #000 1px solid; */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.texts1{
    padding: 50px;
    align-items: start;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2.5px #00000080;
    text-shadow: 
    1px 1px 0 #e8e8e8, /* Right-Bottom */
   -1px 1px 0 #e8e8e8, /* Left-Bottom */
    1px -1px 0 #e8e8e8, /* Right-Top */
   -1px -1px 0 #e8e8e8; /* Left-Top */ 
}
.texts2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: #363d3adb;
}
.texts2 span{
    font-size: 40px;
    color: #b05f37;
}
.shakti{
    color: #7181E4;
    /* -webkit-text-stroke: 2px #000; */
    /* height: auto; */
    text-shadow: 
    1px 1px 0 black, /* Right-Bottom */
   -1px 1px 0 black, /* Left-Bottom */
    1px -1px 0 black, /* Right-Top */
   -1px -1px 0 black; /* Left-Top */
}
.side-icons{
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.train{
    background-image: url('/real-train.png');
}
.truck{
    background-image: url('/real-truck.png');
}
.plain{
    width: 600px;
    height: 600px;
    background-image: url('/cargo-n-plain.png');
}
/* .address1 a,.address2 a{
    animation: blink2 .25s linear infinite;
    transform: all .1s ease-in;
}
@keyframes blink2 {
    0%{
        color: #000;
    }50%{
        color: #ff0000;
    }100%{
        color: #000;
    }
} */
 marquee{
    width: 100%;
    height: 25px;
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }
marquee a{
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}